*{
    margin: 0;
}


body{
    background-image: url("I AM (2).png");
    background-attachment: fixed;
    
}


header{
    background-color: rgba(222, 231, 231, 0.733);
    padding-top: 10px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    top:0;
    position: fixed;
    display: flex;
    justify-content: space-between;
}


nav>ul>li{
    list-style: none;
    margin: 5px ;
    font-weight: bolder;
    background-image: linear-gradient(to right, rgb(0, 60, 255), rgb(0, 204, 255));
    padding: 10px;
   
}

button{
    border: none;
    background-color: yellowgreen;
}

button>a{
    color: rgb(66, 43, 21);
    text-decoration: none;
    
}


li>a{
    text-decoration: none;
    color:rgb(22, 16, 8);

}


main{
    padding-top: 1.4em;
    text-align: center;
    align-content: center;
    background-color: rgba(29, 20, 20, 0.596);
}

#contact{
    padding-top: 3em;
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgba(240, 255, 255, 0.514);
    text-align: center;
}


.d-none{
    display: none;
}


.image{
    background-color: yellowgreen;
    padding: 5px;
    border: solid rgb(22, 9, 9) 1px;
    border-radius: 200px;
    width: 200px;
    height: 200px;
    margin-top: 3em;
    box-shadow: -5px 5px 10px rgb(46, 46, 30),
                5px -3px 10px rgb(46, 46, 30);
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.image>img{
    object-fit: contain;
    height: 200px;
    border-radius: 200px;

}


.intro{
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border:solid 5px yellowgreen;
    padding: 5em 1em 1em 1em;
    margin-top: -4.5em ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    color: rgb(205, 223, 189);
    background-image: linear-gradient(to right, rgb(0, 60, 255), rgb(0, 204, 255));
    box-shadow: 5px 5px 5px rgb(46, 46, 30);
    border-radius: 50px / 20px;
}


#skill{
    display: flex;
    padding: 10px;
    overflow-x:auto;
    background-color: rgba(192, 192, 223, 0.486);
}
#skill>span{
    margin: 5px;
  
}
#show{
    margin-left: 5px;

}
div>ul>li{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
}
#hire{
    padding: 5px;
    max-height: 35px;
    margin-right:5px;

}


.ending-note, #myinfo{
    padding: 50px;
    font-size: medium;
    max-width: 250px;
}

footer{
    background-color: azure;
    background-size: cover;
}

@media only screen and (min-width: 680px){
    nav>ul>li{
        display: inline-block;
    }

    #skill{
        text-align: center;
        display: inline-flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .ending-note{
        max-width: 500px;
    }
    nav>ul>li:hover{
        padding: 13px;
        background-color:rgb(77, 129, 131);
        transition:all 0.3s ease 0s;
        box-shadow: 1px 1px 5px;
    }
    button:hover{
        padding:5px;
        box-shadow: 1px 1px 5px;
        transition:all 0.3s ease 0s;

    }
    #hire:hover{
        padding-right: 10px;
        box-shadow: 1px 1px 5px;
        transition:all 0.3s ease 0s;
    }

    footer{
        display: flex;
        justify-content: space-evenly;
    }
}